/* global variables */
:root{
    --primary-color: #ec5d25;
    --primary-color-lighter: #FDD94A;
}

$primary-color: #ec5d25;
$primary-color-lighter: #FDD94A;

@font-face {
    font-family: 'Montserrat';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url(/fonts/Montserrat-Regular.ttf) format("ttf");
  }

/* @import "https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,500i,600,600i,700"; */
html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    line-height: normal;
    font-display: auto;
    font-family: MontSerrat,sans-serif;
    color: lighten($primary-color, $amount: 20);
}

body {
    font-weight: 400;
    color: #242424
}

ul {
    list-style: none;
    margin: 0;
    padding: 0
}

a,a:visited,a:focus,a:active,a:hover {
    text-decoration: none;
    outline: none
}

a,button {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

a {
    color: #2c3e50
}

h1,h2,h3,h4,h5,h6,h1,.h1,.h2,.h3 {
    margin-bottom: 0
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 36px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

p {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 0
}

.margin-0 {
    margin: 0
}

.modal {
    z-index: 9999999;
    background: rgba(0,0,0,.49)
}

.affix {
    width: 100%
}

.heading-title p {
    max-width: 550px;
    margin: 0 auto
}

#map {
    width: 100%;
    height: 525px
}

.c1 {
    color: #5abd24
}

.c2 {
    color: #ff2d55
}

.c3 {
    color: #0d80f6
}

.bg1 {
    background: #5abd24
}

.bg2 {
    background: #ff2d55
}

.bg3 {
    background: #0d80f6
}

.heading-title {
    padding: 0 0 46px
}

.home1 .about-area .heading-title {
    padding: 0 0 0
}

.heading-title .subtitle {
    font-size: 24px;
    color: #474545;
    line-height: 30px;
    font-style: italic
}

.heading-title h2 {
    font-size: 36px;
    line-height: 60px;
    font-weight: 700;
    color: #242424
}

.affix {
    top: 0
}

.buttons {
    text-align: center
}

.navbar-light .navbar-toggler:focus {
    outline: 0
}

#mainHeader.header.stiky.stiky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: #fff;
    border-bottom: 0;
    box-shadow: 0 0 20px rgba(0,0,0,.3)
}

#mainHeader.header.stiky.stiky .nav-link {
    color: #242424
}

#mainHeader.header.stiky.stiky .nav-link i {
    color: #919191
}

#mainHeader.header.stiky.stiky .mr_btn_fill:hover {
    background: #f75f7b00;
    color: #242424;
    border: 1px solid rgba(36,36,36,.2)
}

#mainHeader.header.stiky.stiky .navbar-light .navbar-toggler-icon {
    background-image: url(data:image/svg+xml;charset=utf8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzAgMzAnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggc3Ryb2tlPSdyZ2JhKDAsIDAsIDAsIDAuOSknIHN0cm9rZS13aWR0aD0nMicgc3Ryb2tlLWxpbmVjYXA9J3JvdW5kJyBzdHJva2UtbWl0ZXJsaW1pdD0nMTAnIGQ9J000IDdoMjJNNCAxNWgyMk00IDIzaDIyJy8+PC9zdmc+)
}

.logo-dark {
    display: none!important
}

.displatNone {
    display: none!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.displatBlock {
    display: block!important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.hideme {
    visibility: hidden;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.header .navbar-nav .nav-link {
    padding: 30px 10px;
    color: #242424
}

.navbar-light .navbar-nav .active>.nav-link {
    color: #242424
}

.header .navbar .mr_btn_fill {
    padding: 8px 20px;
    margin-top: 0!important;
    margin-left: 8px
}

.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
    padding: 10px 0;
    margin-right: 15px
}

.navbar-nav .nav-item .nav-link {
    position: relative;
    text-transform: capitalize
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ff2d55
}

.navbar-nav .nav-item .nav-link::before {
    position: absolute;
    content: '\f107';
    font-family: FontAwesome;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: #ff2d55;
    opacity: 0
}

.navbar-nav .nav-item.active .nav-link::before {
    opacity: 1
}

.navbar-nav .modal .modal-content {
    padding: 30px
}

.navbar-nav .modal .modal-content .mr-search {
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 15px
}

.navbar-nav .modal .modal-content .submit {
    background: #0087fe00;
    border: 1px solid #ff2d55;
    color: #ff2d55;
    padding: 7px 20px;
    border-radius: .25rem;
    cursor: pointer
}

.navbar-nav .modal .modal-content .submit:hover {
    background: #ff2d55;
    border: 1px solid #ff2d55;
    color: #fff
}

.modal-backdrop {
    z-index: 0
}

.header .dropdown-menu .dropdown-item {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.header .dropdown-menu .dropdown-item:hover {
    color: #fff;
    background: #ff2d55
}

.header .dropdown-menu .dropdown-item.active {
    color: #fff;
    background: #ff2d55
}

.header .dropdown-menu .dropdown-item:focus {
    color: #fff;
    background: #ff2d55
}

.dropdown-menu {
    border-radius: 0;
    margin-top: 0
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block
}

.block-display {
    display: block !important;
}

.blog-link {
    color: #0400ff;
    text-decoration: underline;
}

.hr {
    width: 100%;
    height: 1px;
    background: #c8c8c8
}

.mr_btn_fill {
    color: #fff;
    background: #29a9cc;
    border: 1px solid #29a9cc;
    padding: 10px 25px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 50px
}

.mr_btn_fill:hover {
    color: #242424;
    border: 1px solid rgba(36,36,36,.2)
}

.mr_btn_o {
    color: #242424;
    background: #ff2d5300;
    border: 1px solid rgba(36,36,36,.2);
    padding: 10px 25px;
    display: inline-block;
    border-radius: 50px;
    margin-top: 50px
}

.mr_btn_o:hover {
    color: #fff;
    background: #ff2d55;
    border: 1px solid #ff2d55
}

.mar-padding-15 {
    padding: 0 15px
}

.p-box .header {
    padding: 33px 0
}

.p-box .header h3 {
    font-weight: 600
}

.p-box .header p,.p-box .price p {
    font-style: italic
}

.p-box .price {
    padding: 14px 2px;
    background: #f8f8f8;
    margin-bottom: 33px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.p-box .price h2 {
    font-size: 36px;
    font-weight: 900
}

.p-box .list li p {
    line-height: 30px
}

.p-box .list i {
    font-weight: 700
}

.p-box .button a {
    display: inline-block;
    background: #ff2d5300;
    padding: 10px 44px;
    border-radius: 50px;
    border: 1px solid rgba(36,36,36,.2);
    color: #242424;
    margin-top: 33px;
    margin-bottom: 40px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.p-box:hover .button a {
    background: #ff2d53;
    color: #fff;
    border-color: #ff2d53
}

.p-box:hover .price {
    background: #ff2d53;
    color: #fff
}

.m-t-20 {
    margin-top: 20px
}

.uppercase {
    text-transform: uppercase
}

.icon {
    position: absolute;
    bottom: 72px;
    font-size: 16px;
    color: #fff!important;
    background: #1fa178;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 0 1px 1px;
    z-index: 100
}

.navigate-icon {
    right: 16px
}

.guide-icon {
    left: 16px
}

.icon img {
    height: 40px;
    width: 40px
}

.video__wrapper {
    position: relative;
    font-size: 16px;
    height: 100vh;
    width: 100vw
}

.video__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 1
}

.video__main {
    z-index: -1;
    height: 100%;
    width: 100%
}

.video__main video {
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto
}

.video__content {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: #fff;
    padding: 0 8px
}

.logo__main {
    width: 100%
}

.logo__main svg {
    height: 200px
}

.content__desc,.content__sub_desc {
    font-size: 6.25em!important;
    font-weight: 600!important;
    text-transform: uppercase;
    font-family: poppins,sans-serif;
    color: #fff;
    margin: 10px
}

.content__sub_desc {
    font-size: 4em!important
}

.content__title {
    font-size: 3.125em;
    font-weight: 100;
    text-transform: uppercase;
    color: #ff0
}

.caption__small {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-content: center
}

.caption__small--para {
    margin: 0;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 4px
}

.content__button {
    text-align: center;
    margin: auto;
    margin-top: 35px
}

.content__button .highlight.disabled{
    background-color: var(--primary-color) !important;
    cursor: not-allowed;
}

.content__button a {
    background-color: var(--primary-color) !important;
    border: 1px solid rgba(255,255,255,.1);
    color: #fff;
    display: inline-block;
    font-weight: 400;
    margin: 0 10px;
    padding: 0 4px;
    width: 220px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    border-radius: 8px
}

.event-date {
    margin-right: 30px
}

.event-date i {
    margin-right: 8px
}

.event-location i {
    margin-right: 8px
}

.dummy-image {
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover
}

.toggle-text-length {
    font-size: 10px;
    font-style: italic;
    color: #a80000;
    cursor: pointer
}

.text-center {
    text-align: center!important
}

.blur {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-color: #ccc
}

.cinemetography-img {
    height: 80px
}

div.svglogo {
    width: 300px;
    margin: auto;
    left: 0;
    right: 0;
    transform: translateY(-60%);
    top: 50%;
    position: absolute
}

a[href='/tickets'] {
    background-color: var(--primary-color);
}

.lead {
    font-weight: 300;
    font-size: 21px;
    line-height: 37px
}

.no-padding {
    padding: 0!important
}

.no-margin {
    margin: 0!important
}

.dark-section {
    background: #333
}

.text-underline {
    text-decoration: underline!important
}

.text-white {
    color: #fff
}

.text-primary {
    color: var(--primary-color)
}

.tabs-schedule {
    margin: 0;
    padding: 0
}

.font-400 {
    font-weight: 400!important
}

.font-700 {
    font-weight: 700!important
}

.margin-b-30 {
    margin-bottom: 30px
}

.margin-t-30 {
    margin-top: 30px
}

.margin-b-20 {
    margin-bottom: 20px
}

.margin-b-50 {
    margin-bottom: 50px
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none
}

.list-inline>li {
    display: inline-block
}

a.talk-link {
    color: #777
}


.all {
    max-height: 1400px
}

.small {
    max-height: 200px
}

.animate-in {
    transition: all 1s
}

.tab-content .was {
    opacity: .2
}

.tab-content .will {
    opacity: 1
}

@keyframes blink {
    50% {
        opacity: .25
    }
}

.fade-in {
    opacity: 1
}

.fade-out {
    opacity: 0;
    display: none!important
}

.half-x {
    width: 50px
}

.one-x {
    width: 100px
}

.two-x {
    width: 200px
}

.three-x {
    width: 300px
}

a {
    color: #000
}

.header-main {
    background-color: transparent;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.header-main ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden
}

.header-main li a {
    display: block;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    color: hsla(0,0%,100%,.8);
    text-decoration: none
}

.header-main li a:hover,.header-main .menu-btn:hover {
    color: #fff
}

.header-main .logo {
    padding: 10px 8px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center
}

.header-main .logo img {
    width: 52px
}

.header-main .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    width: 100%;
   	padding-top: 10px;
}

@media screen and (min-width: 1024px) {
    .header-main .menu {
        padding-bottom: 10px;
    }
}

.header-main .menu .menu-highlight {
    background: var(--primary-color);
    border-radius: 8px;
}

.header-main .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none
}

.header-main .menu-icon .navicon {
    background: #fff;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px
}

.header-main .menu-icon .navicon:before,.header-main .menu-icon .navicon:after {
    background: #fff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%
}

.header-main .menu-icon .navicon:before {
    top: 5px
}

.header-main .menu-icon .navicon:after {
    top: -5px
}

.header-main .menu-btn {
    display: none
}

.header-main .menu-btn:checked~.menu {
    max-height: 620px
}

.header-main .menu-btn:checked~.menu-icon .navicon {
    background: 0 0
}

.header-main .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg)
}

.header-main .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg)
}

.header-main .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,.header-main .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0
}

@media (min-width: 48em) {
    .header-main {
        flex-wrap:nowrap
    }

    .header-main li {
        float: left
    }

    .header-main li a {
        padding: 20px 30px
    }

    .header-main .menu {
        display: block;
        max-height: none;
        width: auto;
        margin: 0 auto;
    }

    .header-main .menu-icon {
        display: none
    }

    .header-sticky {
        box-shadow: 0 1px 6px 0
    }
}
.header-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

.content {
    padding-top: 16px
}

.header-sticky+.content {
    padding-top: 65px
}

@media screen and (max-width: 767px) {
    .content__desc{
        font-size: 3.25em !important;
    }

    .content__button .highlight{
        margin-top: 10px;
    }

    .logo__main img{
        height: 8em;
        width: 22em;
    }
    
    .header-main .menu-btn:checked~.menu{
        background: rgba(0,0,0,.8);
    }
    
    .header-main .menu .menu-highlight{
        border-radius: 0px;
    }
}

@media screen and (max-width: 360px) {
    .video__content {
        top : 55%;
    }
}

*,*::before,*::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 25px 25px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width:540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width:720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width:960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width:940px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

.wrapper {
    text-align: center;
    margin: 0 auto;
    max-width: 70rem
}

.wrapper h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
    text-transform: uppercase
}

h2.special-bg,.section.flexible h2 {
    background-color: var(--primary-color);
    padding: 1.2rem;
    color : #fff
}

.h-\[80vh\] {
    height: 80vh;
}

@media (max-width: 576px) {
    .h-\[80vh\] {
        height: 50vh;
    }
}

.w-screen {
    width: 100vw;
}

.-z-10 {
    z-index: -10;
}

.absolute {
    position: absolute;
}

.pt-40 {
    padding-top: 12rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.z-10 {
    z-index: 10;
}       

.container {
    width: 100%;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255/var(--tw-bg-opacity));
}

@media (min-width: 1024px){
    .lg\:flex-row {
        flex-direction: row;
    }
    .lg\:py-10 {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}

@media screen and (max-width: 767px) {
    .header-main.header-misc .menu-btn:checked~.menu{
        background: 000;
    }
}

.header-main.header-misc li a{
    color: white;
}

.header-main.header-misc .menu-highlight a{
    color: white;
}

.header-main.header-misc .navicon , .header-main.header-misc .navicon:before , .header-main.header-misc .navicon:after{
    background : grey;
}

.coc-title{
    font-size: 50px!important;
    margin-bottom: 20px;
    margin-top : 0px;
}

.bg-black-shadow{
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

#myFooter {
    background-color: #182c39;
    color: white;
    padding-top: 20px;
}

#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#myFooter .row {
    margin: 0 85px;
}

#myFooter .footer-copyright {
    background-color: #10222e;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}



#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 18px;
}

#myFooter .fa {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
}

#myFooter .fa-facebook:hover {
    color: #2b55ff;
}

#myFooter .fa-facebook:focus {
    color: #2b55ff;
}

#myFooter .fa-instagram:hover {
    color: red;
}

#myFooter .fa-instagarm:focus {
    color: red;
}

#myFooter .fa-twitter:hover {
    color: #00aced;
}

#myFooter .fa-twitter:focus {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .row {
        margin: 0;
    }
}

#myFooter .container {
    display: flex;
    width: 50%;
}

#myFooter .footer-container {
    max-width: 58rem;
    margin: 0 auto;
    
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

#myFooter .footer-container .footer-venue{
    display: flex;
    flex-direction : column;
    flex-wrap: wrap;
}

#myFooter .footer-container .footer-venue-heading{
    text-align : center;
}

@media screen and (min-width: 1024px) {
    #myFooter .footer-container .footer-venue{
        margin-left : 70px;
    }
    #myFooter .footer-container {
        display: flex;
    }
}

.blog-container {
    padding: 20px 80px;
}