.wrapper {
  text-align: center;
  margin: 0 auto;
  max-width: 70rem;
  margin-top: 3rem;
  padding: 2rem;
}

/* desktop style starts here */
.cp-section {
  .cp-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3rem;
    row-gap: 3rem;
    align-items: center;
    justify-content: center;

    .cp-card {
      line-height: 1.5rem !important;
    }

    .cp-card__img {
      a {
        display: block;
      }

      img {
        object-fit: cover;
        transition: all 0.9s ease;
      }

      img.img-special {
        width: 100%;
        height: 100%;
      }
    }

    .cp-card__title {
      span {
        font-weight: bolder;
      }
    }
  }
}

/* desktop style ends here */


/* mobile style starts here */
@media screen and (max-width: 768px) {
  .cp-section {
    .cp-container {
      grid-template-columns: 1fr;
    }
  }
}

/* mobile style ends here */