.sponsors {
    background-color: var(--color-sponsors-background);
    color: var(--color-sponsors-text);
    width: 80%;
    padding: 2rem 0;
}

.sponsors-article{
    padding: 60px;
}

.sponsors__logos img {
    max-height: 10rem;
    max-width: 28rem;
}

@media (min-width: 800px) {
    .sponsors {
        padding: 4rem 0;
    }

    .sponsors__intro-content {
        background-size: 6.875rem auto;
        padding-left: 8.125rem;
        min-height: 14rem;
    }

    .sponsors__intro {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 4rem;
        gap: 4rem;
    }
}

@media (min-width: 1240px) {
    .sponsors {
        padding: 7rem 0;
    }

    .sponsors__intro {
        grid-template-columns: 1fr 2fr;
    }
}

.sponsors__intro-content p {
    font-size: 1rem;
    line-height: 1.5rem;
}

.sponsors hr {
    background: var(--color-secondary);
    margin: 0;
}

.sponsors__tier {
    position: relative;
    width: 100%;
    padding-left: 0;
    min-height: 180px;
    display: flex;
    margin: auto;
}

.sponsors__tier-title {
    font-size: 1.25rem;
    line-height: 1.25rem;
    margin: 0 20px 0 0;
    width: 40px;
    position: relative;
    display: flex;
}

.sponsors__tier-title span {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50%) rotate(-90deg);
    display: block;
    transform-origin: 50% 50%;
}

.sponsors__logos {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;
    margin: 2rem 0;
    width: 120px;
}

.sponsors__logos img {
    max-width: 300px;
    max-height: 200px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* mobile styles */
@media (max-width: 768px){
    /* section heading */
    h3{
        padding: 0 !important;
        font-size: 30px !important;
    }

    .sponsors-article{
        padding: 12px;
    }

    .center {
        width: 90%;
    }

}